In [1]:
import pandas as pd

In [1]:
for year in range(2020, 2051):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        print(year)

2020
2024
2028
2032
2036
2040
2044
2048

In [2]:
loan = 120000
percent_rate = 0.06
number_years = 6

debt = loan

for year in range(number_years):
    debt += debt * percent_rate

print("Конечная сумма долга студента Джонсона: ", debt, "долларов США")

Конечная сумма долга студента Джонсона:  170222.29347072003 долларов США

In [3]:
cage_number = 1
grain_count = 1

while grain_count <= 100000:
    print("Клетка номер: ",cage_number, grain_count, " зёрен")
    
    cage_number += 1
    grain_count *= 2

Клетка номер:  1 1  зёрен
Клетка номер:  2 2  зёрен
Клетка номер:  3 4  зёрен
Клетка номер:  4 8  зёрен
Клетка номер:  5 16  зёрен
Клетка номер:  6 32  зёрен
Клетка номер:  7 64  зёрен
Клетка номер:  8 128  зёрен
Клетка номер:  9 256  зёрен
Клетка номер:  10 512  зёрен
Клетка номер:  11 1024  зёрен
Клетка номер:  12 2048  зёрен
Клетка номер:  13 4096  зёрен
Клетка номер:  14 8192  зёрен
Клетка номер:  15 16384  зёрен
Клетка номер:  16 32768  зёрен
Клетка номер:  17 65536  зёрен

In [5]:
for i in range(31):
    if i % 2 == 0:
        if i % 4 == 0:
            pass
        else:
            print(i)

2
6
10
14
18
22
26
30

In [10]:
while True:
    i = int(input("Введите целое число: "))

    if i == 0:
        print("Программа завершена.")
        break

    if i % 7 == 0:
        print("дурак совсем")
        break

    if i % 3 == 0:
        print(i)

    if i % 5 == 0:
        print(i ** 2)

Введите целое число: 5
25
Введите целое число: 25
625
Введите целое число: 95
9025
Введите целое число: 15
15
225
Введите целое число: 45
45
2025
Введите целое число: 90
90
8100
Введите целое число: 7
дурак совсем

In [11]:
user_scores = [3, 3, 5, 5, 1, 1]

# Рассчитываем минимальную, максимальную и среднюю оценки
min_score = min(user_scores)
max_score = max(user_scores)
avg_score = sum(user_scores) / len(user_scores)

# Выводим результаты
print(f"min = {min_score} max = {max_score} avg = {avg_score:.1f}")

min = 1 max = 5 avg = 3.0

In [13]:
user_scores = [3, 3, 5, 5, 1, 1]


min_score = user_scores[0]
max_score = user_scores[0]
sum_scores = 0

for score in user_scores:
    if score < min_score:
        min_score = score
    if score > max_score:
        max_score = score
    sum_scores += score

avg_score = sum_scores / len(user_scores)

print("min =", min_score, "max =", max_score, "avg =", avg_score)

min =  1 max =  5 avg =  3.0

In [14]:
transactions = [-100, -200, -100, 1000, 50, -90]


total_credit = 0

for transaction in transactions:
    if transaction > 0:
        total_credit += transaction

print(total_credit)

1050

In [15]:
week_data = [1, 20, 12, 35, 0, 7, 8]

# Инициализируем переменные для минимального количества обращений и порядкового номера дня
min_calls = float('inf')
min_day = -1

# Используем цикл для нахождения дня с минимальным количеством обращений
for day, calls in enumerate(week_data, start=1):
    if calls < min_calls:
        min_calls = calls
        min_day = day

# Выводим результат
print(min_day)

5

In [19]:
print(week_data[5])

7

In [27]:
week_data = [1, 20, 12, 35, 0, 7, 8]

# Инициализируем переменные для минимального количества обращений и порядкового номера дня
min_calls = float('inf')
min_day = -1

for day in range(1, len(week_data) + 1):
    calls = week_data[day - 1] 
    if calls < min_calls:
        min_calls = calls
        min_day = day

print(min_day)

0
5

In [31]:
week_data = [1, 20, 12, 35, 0, 7, 8]


even_days = []

for i in range(len(week_data)):
    if week_data[i] % 2 == 0:
        even_days.append(i + 1)

print(even_days)

[2, 3, 5, 7]

In [34]:
numbers_list = [0, 20, 30, 34, 45, 56, 67, 78, 90, 100, 110]
key = 89

numbers_list.sort()

left, right = 0, len(numbers_list) - 1
desired = 0

while left <= right:
    middle = (left + right) // 2
    desired += 1

    if numbers_list[middle] == key:
        print(True, desired)
        break
    elif numbers_list[middle] < key:
        left = middle + 1
    else:
        right = middle - 1
else:
    print(False, desired)

False 4

In [41]:
transactions1 = [100, 200, 90, 70, 120]

# Сортируем список сортировкой пузырьком
n = len(transactions1)
for i in range(n):
    for j in range(0, n-i-1):
        if transactions1[j] > transactions1[j+1]:
            transactions1[j], transactions1[j+1] = transactions1[j+1], transactions1[j]

# Перемещаем две максимальные транзакции в конец списка
transactions1[-2:], transactions1[-4:-2] = transactions1[-4:-2][::-1], transactions1[-2:]

print(transactions1)

[70, 120, 200, 100, 90]

In [42]:
transactions1 = [100, 200, 90, 70, 120]

# Сортируем список сортировкой пузырьком
n = len(transactions1)
for i in range(n):
    for j in range(0, n-i-1):
        if transactions1[j] > transactions1[j+1]:
            transactions1[j], transactions1[j+1] = transactions1[j+1], transactions1[j]

# Находим индексы двух максимальных элементов
max_index1 = transactions1.index(max(transactions1))
max_index2 = transactions1.index(max(transactions1[:max_index1] + transactions1[max_index1+1:]))

# Перемещаем две максимальные транзакции в конец списка
transactions1[max_index2], transactions1[-2] = transactions1[-2], transactions1[max_index2]
transactions1[max_index1], transactions1[-1] = transactions1[-1], transactions1[max_index1]

print(transactions1)

[70, 90, 100, 120, 200]

In [46]:
transactions = [100, 98, 1000, 2500, 299, 1898, 1989, 2001, 50, 10, 70]

for i in range(len(transactions)-1):
    for j in range(len(transactions)-i-1): 
        if transactions[j] > transactions[j+1]:  
            temp = transactions[j]
            transactions[j] = transactions[j+1]
            transactions[j+1] = temp
print(transactions)

[10, 50, 70, 98, 100, 299, 1000, 1898, 1989, 2001, 2500]

In [51]:
list1 = [2, 5, 7, 1, 0, 1, 5, 3, 1, 7, 5, 4, 1, 3, 0, 5, 7, 1]

rate = [0] * 10

for i in list1:
    rate[i] += 1

for i in range(10):
    print(i, ":", rate[i])

0 : 2
1 : 5
2 : 1
3 : 2
4 : 1
5 : 4
6 : 0
7 : 3
8 : 0
9 : 0

In [61]:
numbers_list = [0, 1, 3, 4, 7, 98, 3, 1, 98, 7, 16, 16, 4, 0, 42]

for i in range(len(numbers_list)):
    number = numbers_list[i]
    pair = False

    for j in range(len(numbers_list)):
        if i != j and numbers_list[j] == number:
            pair = True
            break

    if not pair:
        print("Единственное число, встречающееся один раз:", number)
        break

Единственное число, встречающееся один раз: 42

In [60]:
freqs = [0] * 100

for number in numbers_list:
    freqs[number] += 1

for i in range(len(freqs)):
    if freqs[i] == 1:
        print("Единственное число, встречающееся один раз:", i)
        break

Единственное число, встречающееся один раз: 42

In [59]:
j = 0

for number in numbers_list:
    j ^= number

print("Единственное число, встречающееся один раз:", j)

Единственное число, встречающееся один раз: 42

In [62]:
file1 = [1, 5, 6, 18, 42, 74, 80, 87, 91, 99, 100]
file2 = [2, 3, 5, 7, 8, 18, 19, 20, 43, 50, 81, 93, 101]    
    
result = []
iterator1, iterator2 = iter(file1), iter(file2)
element1, element2 = next(iterator1, None), next(iterator2, None)

while element1 is not None and element2 is not None:
    result.append(element1) if element1 <= element2 else result.append(element2)
    element1, element2 = next(iterator1, None) if element1 <= element2 else element1, next(iterator2, None)

result.extend([element1, element2] if element1 is not None else [element2] if element2 is not None else [])

print(result)

[1, 3, 5, 6, 8, 18, 19, 20, 42, 50, 74, 80, 87, 91, None]

In [64]:
file1 = [1, 5, 6, 18, 42, 74, 80, 87, 91, 99, 100]
file2 = [2, 3, 5, 7, 8, 18, 19, 20, 43, 50, 81, 93, 101]    

result = []
iterator1, iterator2 = iter(file1), iter(file2)
element1, element2 = next(iterator1, None), next(iterator2, None)

while element1 is not None and element2 is not None:
    if element1 <= element2:
        result.append(element1)
        element1 = next(iterator1, None)
    else:
        result.append(element2)
        element2 = next(iterator2, None)

result.extend([element1] if element1 is not None else [element2] if element2 is not None else [])

print(result)

[1, 2, 3, 5, 5, 6, 7, 8, 18, 18, 19, 20, 42, 43, 50, 74, 80, 81, 87, 91, 93, 99, 100, 101]

In [68]:
numbers_list = [2, 12, 7, 8, 0]
result = []
window_size = 3

for i in range(len(numbers_list) - window_size + 1):
    window_values = numbers_list[i:i+window_size]
    average = sum(window_values) // window_size
    result.append(average)

print(result)

[7, 9, 5]

In [73]:
def convert_to_usd(amount):
    return amount / 88.59 

def convert_to_cny(amount):
    return amount / 12.27

def convert_to_eur(amount):
    return amount / 96.38

def rub_to_currency(rub_amount, currency="USD"):
    if currency == "USD":
        converted_amount = convert_to_usd(rub_amount)
        print(f"было: {rub_amount}, стало: {converted_amount:.2f} USD")
    elif currency == "CNY":
        converted_amount = convert_to_cny(rub_amount)
        print(f"было: {rub_amount}, стало: {converted_amount:.2f} CNY")
    elif currency == "EUR":
        converted_amount = convert_to_eur(rub_amount)
        print(f"было: {rub_amount}, стало: {converted_amount:.2f} EUR")
    else:
        print("Расчёт не может быть совершён")

# Пример использования:
rub_to_currency(730)  # По умолчанию в USD
rub_to_currency(730, "CNY")
rub_to_currency(730, "EUR")  # Невалидная валюта

было: 730, стало: 8.24 USD
было: 730, стало: 59.49 CNY
было: 730, стало: 7.57 EUR

In [81]:
def convert_to_usd(amount):
    return amount / 70.99

def convert_to_cny(amount):
    return convert_to_usd(amount) * 6.44

def rub_to_currency(rub_amount, currency="USD"):
    if currency == "USD":
        converted_amount = convert_to_usd(rub_amount)
        print(f"было: {rub_amount}, стало: {converted_amount} USD")
    elif currency == "CNY":
        usd_amount = convert_to_usd(rub_amount)
        converted_amount = convert_to_cny(rub_amount)
        print(f"""Конвертация в USD
было: {rub_amount}, стало: {usd_amount} USD
было: {rub_amount}, стало: {converted_amount} CNY""")
    else:
        print("Расчёт не может быть совершён")

# Пример использования:
rub_to_currency(7200)  # По умолчанию в USD
rub_to_currency(7200, "CNY")
rub_to_currency(7200, "EUR")  # Невалидная валюта

было: 7200, стало: 101.4227355965629 USD
Конвертация в USD
было: 7200, стало: 101.4227355965629 USD
было: 7200, стало: 653.1624172418651 CNY
Расчёт не может быть совершён

In [85]:
# функция проверки валидности номера
def check_phone(phone):
    return phone.startswith("8") and len(phone) == 11 or phone.startswith("7") and len(phone) == 11

# функция проверки города
def check_city(city):
    return city.lower() == "москва"

# функция проверки одной анкеты
def check_application(application):
    cleaned_application = application.replace(" ", "")
    
    params = cleaned_application.split(",")
    
    name = params[0].split("=")[1].strip()
    phone = params[1].split("=")[1].strip()
    city = params[2].split("=")[1].strip()

    phone_valid = check_phone(phone)
    city_valid = check_city(city)

    print(f"{application} --- {phone_valid and city_valid}")

# функция проверки списка анкет
def find_valid_applications(applications):
    for application in applications:
        check_application(application)

# Пример списка анкет
applications = [
    'name=Аня,phone=8800234 ,city=москва',
    'name=КОЛЯ,phone=8800900871 ,city=МОСКВА',
    'name=Валентина,phone=7950900871 ,city=волгоград',
    'name=,phone=7999901871,city=москва',
    'name=Иван,phone=7999901871,city=москва',
    'name=Инга,phone=,city=москва'
]

# Проверка списка анкет
find_valid_applications(applications)

name=Аня,phone=8800234 ,city=москва --- False
name=КОЛЯ,phone=8800900871 ,city=МОСКВА --- False
name=Валентина,phone=7950900871 ,city=волгоград --- False
name=,phone=7999901871,city=москва --- False
name=Иван,phone=7999901871,city=москва --- False
name=Инга,phone=,city=москва --- False

In [83]:
# функция проверки одной анкеты
def check_application(application):
    # Заменяем лишние пробелы в анкете
    cleaned_application = application.replace(" ", "")
    
    # Разделяем анкету на параметры
    params = cleaned_application.split(",")
    
    # Получаем значения параметров
    name = params[0].split("=")[1].strip()
    phone = params[1].split("=")[1].strip()
    city = params[2].split("=")[1].strip()

    # Проверяем валидность номера телефона и города
    phone_valid = check_phone(phone)
    city_valid = check_city(city)

    # Выводим результат
    print(f"{application} --- {phone_valid and city_valid}")

# функция проверки списка анкет
def find_valid_applications(applications):
    for application in applications:
        check_application(application)

# Пример списка анкет
applications = [
    'name=Аня,phone=8800234 ,city=москва',
    'name=КОЛЯ,phone=8800900871 ,city=МОСКВА',
    'name=Валентина,phone=7950900871 ,city=волгоград',
    'name=,phone=7999901871,city=москва',
    'name=Иван,phone=7999901871,city=москва',
    'name=Инга,phone=,city=москва'
]

# Проверка списка анкет
find_valid_applications(applications)

Анкета 'name=Аня, phone=8800234 , city=москва' не подходит для обзвона.
Анкета 'name=Иван, phone=79991234567 , city=Москва' не подходит для обзвона.
Анкета 'name=Мария, phone=8 900 123 45 67, city=Москва' не подходит для обзвона.
Анкета 'name=Алексей, city=Москва' не подходит для обзвона.
Анкета 'name=Екатерина, phone=1234567890, city=Москва' не подходит для обзвона.

In [86]:
def is_palindrome(text):
    # Удаляем знаки препинания и приводим к нижнему регистру
    cleaned_text = ''.join(char.lower() for char in text if char.isalnum())

    # Если очищенный текст имеет длину меньше или равную 1, он считается палиндромом
    if len(cleaned_text) <= 1:
        return True
    # Если первый и последний символы совпадают, вызываем функцию для подстроки без этих символов
    elif cleaned_text[0] == cleaned_text[-1]:
        return is_palindrome(cleaned_text[1:-1])
    # Если первый и последний символы не совпадают, строка не является палиндромом
    else:
        return False

In [87]:
is_palindrome('asdfttyfdsa')

False

In [89]:
def count_digits_str(n):
    return len(str(n))

# Пример использования
n = 12345678899
result = count_digits_str(n)
print(result)

11

In [90]:
def count_digits_no_str(n):
    count = 0

    while n != 0:
        n //= 10
        count += 1

    return count

# Пример использования
n = 1234567
result = count_digits_no_str(n)
print(result)

7

In [107]:
def count_passed_failed(scores):
    passed_counts = []
    failed_counts = []

    for class_scores in scores:
        passed = sum(1 for score in class_scores if score >= 3)
        failed = len(class_scores) - passed
        passed_counts.append(passed)
        failed_counts.append(failed)

    return passed_counts, failed_counts

def count_excellent(scores):
    excellent_counts = []

    for class_scores in scores:
        excellent = sum(1 for score in class_scores if score in {4, 5})
        excellent_counts.append(excellent)

    return excellent_counts

def calculate_success_rate(excellent_counts, total_counts, threshold_excellent, threshold_poor):
    success_rates = []
    
    for excellent, total in zip(excellent_counts, total_counts):
        success_rate = excellent / total

        if success_rate > threshold_excellent:
            success_rates.append("Отлично")
        elif success_rate < threshold_poor:
            success_rates.append("Плохо")
        else:
            success_rates.append("Удовлетворительно")

    return success_rates

def get_info(scores, threshold_excellent=0.95, threshold_poor=0.3):
    excellent_counts = count_excellent(scores)
    passed_counts, failed_counts = count_passed_failed(scores)
    total_counts = [len(class_scores) for class_scores in scores]
    success_rates = calculate_success_rate(excellent_counts, total_counts, threshold_excellent, threshold_poor)
    
    for passed, failed, success_rate in zip(passed_counts, failed_counts, success_rates):
        print(f"Количество сдавших: {passed}, Количество проваливших: {failed}, Итог по классу: {success_rate}")

# Пример использования
scores = [
    [2, 4, 4, 5, 2, 3, 3, 1, 1],
    [3, 4, 2, 3, 3, 1, 5, 2, 4],
    [5, 3, 3, 4, 3, 2, 3, 5],
    [4, 2, 2, 4, 2],
    [4, 3, 3, 3, 3, 3, 3],
    [2, 1, 5, 3, 5, 5],
    [4, 4, 4, 4, 5, 5],
    [4, 1, 3, 4, 1, 1]
]

get_info(scores)

Количество сдавших: 5, Количество проваливших: 4, Итог по классу: Удовлетворительно
Количество сдавших: 6, Количество проваливших: 3, Итог по классу: Удовлетворительно
Количество сдавших: 7, Количество проваливших: 1, Итог по классу: Удовлетворительно
Количество сдавших: 2, Количество проваливших: 3, Итог по классу: Удовлетворительно
Количество сдавших: 7, Количество проваливших: 0, Итог по классу: Плохо
Количество сдавших: 4, Количество проваливших: 2, Итог по классу: Удовлетворительно
Количество сдавших: 6, Количество проваливших: 0, Итог по классу: Отлично
Количество сдавших: 3, Количество проваливших: 3, Итог по классу: Удовлетворительно

In [108]:
1+2*4*5+7*10*11

811

In [109]:
2*4*5

40

In [110]:
7*10*11

770

In [111]:
1+40+770

811

In [155]:
def add(a, b):
    return a + b

def multiply(a, b):
    return a * b

def evaluate_expression(expression):
    numbers = []
    operators = []
    current_number = ''

    for char in expression:
        if char.isdigit():
            current_number += char
        else:
            if current_number:
                numbers.append(int(current_number))
                current_number = ''

            if char in ('+', '*'):
                operators.append(char)

    if current_number:
        numbers.append(int(current_number))

    i = 0
    while i < len(operators):
        if operators[i] == '*':
            result = multiply(numbers[i], numbers[i + 1])
            numbers[i:i + 2] = [result]
            operators.pop(i)
        else:
            i += 1

    result = numbers[0]
    for i in range(1, len(numbers)):
        result = add(result, numbers[i])

    return result

In [156]:
expression_1 = '1+2*4*5+7*10*11'
expression_2 = '1+2+3+10'
expression_3 = '1*2*10'

result_1 = evaluate_expression(expression_1)
print(result_1)

result_2 = evaluate_expression(expression_2)
print(result_2)

result_3 = evaluate_expression(expression_3)
print(result_3)

811
16
20

In [157]:
def add(a, b):
    return a + b

def multiply(a, b):
    return a * b

def extract_expression(expression):
    numbers = []
    operators = []
    current_number = ''

    for char in expression:
        if char.isdigit():
            current_number += char
        else:
            if current_number:
                numbers.append(int(current_number))
                current_number = ''

            if char in ('+', '*'):
                operators.append(char)

    if current_number:
        numbers.append(int(current_number))

    i = 0
    while i < len(operators):
        if operators[i] == '*':
            result = multiply(numbers[i], numbers[i + 1])
            numbers[i:i + 2] = [result]
            operators.pop(i)
        else:
            i += 1

    result = numbers[0]
    for i in range(1, len(numbers)):
        result = add(result, numbers[i])

    return result

In [10]:
power_2_numbers = list(2**x for x in range(1, 201))

In [161]:
print(power_2_numbers)

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 524288, 1048576, 2097152, 4194304, 8388608, 16777216, 33554432, 67108864, 134217728, 268435456, 536870912, 1073741824, 2147483648, 4294967296, 8589934592, 17179869184, 34359738368, 68719476736, 137438953472, 274877906944, 549755813888, 1099511627776, 2199023255552, 4398046511104, 8796093022208, 17592186044416, 35184372088832, 70368744177664, 140737488355328, 281474976710656, 562949953421312, 1125899906842624, 2251799813685248, 4503599627370496, 9007199254740992, 18014398509481984, 36028797018963968, 72057594037927936, 144115188075855872, 288230376151711744, 576460752303423488, 1152921504606846976, 2305843009213693952, 4611686018427387904, 9223372036854775808, 18446744073709551616, 36893488147419103232, 73786976294838206464, 147573952589676412928, 295147905179352825856, 590295810358705651712, 1180591620717411303424, 2361183241434822606848, 4722366482869645213696, 9444732965739290427392, 18889465931478580854784, 37778931862957161709568, 75557863725914323419136, 151115727451828646838272, 302231454903657293676544, 604462909807314587353088, 1208925819614629174706176, 2417851639229258349412352, 4835703278458516698824704, 9671406556917033397649408, 19342813113834066795298816, 38685626227668133590597632, 77371252455336267181195264, 154742504910672534362390528, 309485009821345068724781056, 618970019642690137449562112, 1237940039285380274899124224, 2475880078570760549798248448, 4951760157141521099596496896, 9903520314283042199192993792, 19807040628566084398385987584, 39614081257132168796771975168, 79228162514264337593543950336, 158456325028528675187087900672, 316912650057057350374175801344, 633825300114114700748351602688, 1267650600228229401496703205376, 2535301200456458802993406410752, 5070602400912917605986812821504, 10141204801825835211973625643008, 20282409603651670423947251286016, 40564819207303340847894502572032, 81129638414606681695789005144064, 162259276829213363391578010288128, 324518553658426726783156020576256, 649037107316853453566312041152512, 1298074214633706907132624082305024, 2596148429267413814265248164610048, 5192296858534827628530496329220096, 10384593717069655257060992658440192, 20769187434139310514121985316880384, 41538374868278621028243970633760768, 83076749736557242056487941267521536, 166153499473114484112975882535043072, 332306998946228968225951765070086144, 664613997892457936451903530140172288, 1329227995784915872903807060280344576, 2658455991569831745807614120560689152, 5316911983139663491615228241121378304, 10633823966279326983230456482242756608, 21267647932558653966460912964485513216, 42535295865117307932921825928971026432, 85070591730234615865843651857942052864, 170141183460469231731687303715884105728, 340282366920938463463374607431768211456, 680564733841876926926749214863536422912, 1361129467683753853853498429727072845824, 2722258935367507707706996859454145691648, 5444517870735015415413993718908291383296, 10889035741470030830827987437816582766592, 21778071482940061661655974875633165533184, 43556142965880123323311949751266331066368, 87112285931760246646623899502532662132736, 174224571863520493293247799005065324265472, 348449143727040986586495598010130648530944, 696898287454081973172991196020261297061888, 1393796574908163946345982392040522594123776, 2787593149816327892691964784081045188247552, 5575186299632655785383929568162090376495104, 11150372599265311570767859136324180752990208, 22300745198530623141535718272648361505980416, 44601490397061246283071436545296723011960832, 89202980794122492566142873090593446023921664, 178405961588244985132285746181186892047843328, 356811923176489970264571492362373784095686656, 713623846352979940529142984724747568191373312, 1427247692705959881058285969449495136382746624, 2854495385411919762116571938898990272765493248, 5708990770823839524233143877797980545530986496, 11417981541647679048466287755595961091061972992, 22835963083295358096932575511191922182123945984, 45671926166590716193865151022383844364247891968, 91343852333181432387730302044767688728495783936, 182687704666362864775460604089535377456991567872, 365375409332725729550921208179070754913983135744, 730750818665451459101842416358141509827966271488, 1461501637330902918203684832716283019655932542976, 2923003274661805836407369665432566039311865085952, 5846006549323611672814739330865132078623730171904, 11692013098647223345629478661730264157247460343808, 23384026197294446691258957323460528314494920687616, 46768052394588893382517914646921056628989841375232, 93536104789177786765035829293842113257979682750464, 187072209578355573530071658587684226515959365500928, 374144419156711147060143317175368453031918731001856, 748288838313422294120286634350736906063837462003712, 1496577676626844588240573268701473812127674924007424, 2993155353253689176481146537402947624255349848014848, 5986310706507378352962293074805895248510699696029696, 11972621413014756705924586149611790497021399392059392, 23945242826029513411849172299223580994042798784118784, 47890485652059026823698344598447161988085597568237568, 95780971304118053647396689196894323976171195136475136, 191561942608236107294793378393788647952342390272950272, 383123885216472214589586756787577295904684780545900544, 766247770432944429179173513575154591809369561091801088, 1532495540865888858358347027150309183618739122183602176, 3064991081731777716716694054300618367237478244367204352, 6129982163463555433433388108601236734474956488734408704, 12259964326927110866866776217202473468949912977468817408, 24519928653854221733733552434404946937899825954937634816, 49039857307708443467467104868809893875799651909875269632, 98079714615416886934934209737619787751599303819750539264, 196159429230833773869868419475239575503198607639501078528, 392318858461667547739736838950479151006397215279002157056, 784637716923335095479473677900958302012794430558004314112, 1569275433846670190958947355801916604025588861116008628224, 3138550867693340381917894711603833208051177722232017256448, 6277101735386680763835789423207666416102355444464034512896, 12554203470773361527671578846415332832204710888928069025792, 25108406941546723055343157692830665664409421777856138051584, 50216813883093446110686315385661331328818843555712276103168, 100433627766186892221372630771322662657637687111424552206336, 200867255532373784442745261542645325315275374222849104412672, 401734511064747568885490523085290650630550748445698208825344, 803469022129495137770981046170581301261101496891396417650688, 1606938044258990275541962092341162602522202993782792835301376]

In [7]:
generated_set = set(1 if x % 5 == 0 else x for x in range(8, 51))

In [8]:
print(generated_set)

{1, 8, 9, 11, 12, 13, 14, 16, 17, 18, 19, 21, 22, 23, 24, 26, 27, 28, 29, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 46, 47, 48, 49}

In [9]:
type(generated_set)

set

In [13]:
new_set = set(power_2_numbers) ^ generated_set

In [14]:
print(new_set)

{512, 1, 1024, 2, 2048, 4, 4096, 32768, 131072, 9, 65536, 11, 12, 13, 14, 68719476736, 36893488147419103232, 17, 18, 19, 1180591620717411303424, 21, 22, 23, 24, 9223372036854775808, 26, 27, 28, 29, 21267647932558653966460912964485513216, 31, 16777216, 33, 34, 17179869184, 36, 37, 38, 39, 34359738368, 41, 42, 43, 44, 18446744073709551616, 46, 47, 48, 49, 524288, 1208925819614629174706176, 2787593149816327892691964784081045188247552, 4611686018427387904, 10633823966279326983230456482242756608, 24519928653854221733733552434404946937899825954937634816, 1048576, 2417851639229258349412352, 64, 147573952589676412928, 4722366482869645213696, 340282366920938463463374607431768211456, 10889035741470030830827987437816582766592, 151115727451828646838272, 348449143727040986586495598010130648530944, 5575186299632655785383929568162090376495104, 784637716923335095479473677900958302012794430558004314112, 25108406941546723055343157692830665664409421777856138051584, 35184372088832, 70368744177664, 140737488355328, 281474976710656, 562949953421312, 1125899906842624, 85070591730234615865843651857942052864, 196159429230833773869868419475239575503198607639501078528, 2251799813685248, 4503599627370496, 2722258935367507707706996859454145691648, 6277101735386680763835789423207666416102355444464034512896, 1267650600228229401496703205376, 2097152, 4835703278458516698824704, 11150372599265311570767859136324180752990208, 49039857307708443467467104868809893875799651909875269632, 2535301200456458802993406410752, 16384, 37778931862957161709568, 87112285931760246646623899502532662132736, 200867255532373784442745261542645325315275374222849104412672, 128, 295147905179352825856, 9444732965739290427392, 680564733841876926926749214863536422912, 21778071482940061661655974875633165533184, 1569275433846670190958947355801916604025588861116008628224, 302231454903657293676544, 696898287454081973172991196020261297061888, 50216813883093446110686315385661331328818843555712276103168, 1606938044258990275541962092341162602522202993782792835301376, 5070602400912917605986812821504, 137438953472, 274877906944, 4294967296, 19807040628566084398385987584, 8589934592, 2147483648, 633825300114114700748351602688, 1461501637330902918203684832716283019655932542976, 45671926166590716193865151022383844364247891968, 40564819207303340847894502572032, 4194304, 2361183241434822606848, 73786976294838206464, 170141183460469231731687303715884105728, 5444517870735015415413993718908291383296, 392318858461667547739736838950479151006397215279002157056, 12554203470773361527671578846415332832204710888928069025792, 38685626227668133590597632, 89202980794122492566142873090593446023921664, 33554432, 77371252455336267181195264, 178405961588244985132285746181186892047843328, 1329227995784915872903807060280344576, 75557863725914323419136, 174224571863520493293247799005065324265472, 401734511064747568885490523085290650630550748445698208825344, 2658455991569831745807614120560689152, 5316911983139663491615228241121378304, 10141204801825835211973625643008, 23384026197294446691258957323460528314494920687616, 42535295865117307932921825928971026432, 98079714615416886934934209737619787751599303819750539264, 67108864, 154742504910672534362390528, 356811923176489970264571492362373784095686656, 83076749736557242056487941267521536, 166153499473114484112975882535043072, 256, 8192, 590295810358705651712, 18889465931478580854784, 1361129467683753853853498429727072845824, 43556142965880123323311949751266331066368, 262144, 604462909807314587353088, 1393796574908163946345982392040522594123776, 3138550867693340381917894711603833208051177722232017256448, 100433627766186892221372630771322662657637687111424552206336, 81129638414606681695789005144064, 162259276829213363391578010288128, 324518553658426726783156020576256, 649037107316853453566312041152512, 1298074214633706907132624082305024, 2596148429267413814265248164610048, 5192296858534827628530496329220096, 10384593717069655257060992658440192, 20769187434139310514121985316880384, 47890485652059026823698344598447161988085597568237568, 134217728, 536870912, 309485009821345068724781056, 1237940039285380274899124224, 9671406556917033397649408, 713623846352979940529142984724747568191373312, 8388608, 19342813113834066795298816, 22300745198530623141535718272648361505980416, 44601490397061246283071436545296723011960832, 2854495385411919762116571938898990272765493248, 1073741824, 2475880078570760549798248448, 5708990770823839524233143877797980545530986496, 332306998946228968225951765070086144, 2923003274661805836407369665432566039311865085952, 5846006549323611672814739330865132078623730171904, 1496577676626844588240573268701473812127674924007424, 11692013098647223345629478661730264157247460343808, 549755813888, 1099511627776, 2199023255552, 4398046511104, 8796093022208, 17592186044416, 20282409603651670423947251286016, 4951760157141521099596496896, 11417981541647679048466287755595961091061972992, 46768052394588893382517914646921056628989841375232, 39614081257132168796771975168, 91343852333181432387730302044767688728495783936, 191561942608236107294793378393788647952342390272950272, 383123885216472214589586756787577295904684780545900544, 766247770432944429179173513575154591809369561091801088, 1532495540865888858358347027150309183618739122183602176, 3064991081731777716716694054300618367237478244367204352, 6129982163463555433433388108601236734474956488734408704, 12259964326927110866866776217202473468949912977468817408, 41538374868278621028243970633760768, 803469022129495137770981046170581301261101496891396417650688, 79228162514264337593543950336, 182687704666362864775460604089535377456991567872, 2993155353253689176481146537402947624255349848014848, 9007199254740992, 18014398509481984, 36028797018963968, 72057594037927936, 144115188075855872, 576460752303423488, 1152921504606846976, 2305843009213693952, 288230376151711744, 95780971304118053647396689196894323976171195136475136, 5986310706507378352962293074805895248510699696029696, 158456325028528675187087900672, 365375409332725729550921208179070754913983135744, 93536104789177786765035829293842113257979682750464, 9903520314283042199192993792, 22835963083295358096932575511191922182123945984, 187072209578355573530071658587684226515959365500928, 11972621413014756705924586149611790497021399392059392, 268435456, 618970019642690137449562112, 1427247692705959881058285969449495136382746624, 374144419156711147060143317175368453031918731001856, 664613997892457936451903530140172288, 316912650057057350374175801344, 730750818665451459101842416358141509827966271488, 23945242826029513411849172299223580994042798784118784, 748288838313422294120286634350736906063837462003712}

In [18]:
new_set = {x for x in new_set if 34 <= x <= 120}

In [19]:
print(new_set)

{64, 34, 36, 37, 38, 39, 41, 42, 43, 44, 46, 47, 48, 49}

In [20]:
unicode_values = {x: chr(x) for x in new_set}

In [21]:
print(unicode_values)

{64: '@', 34: '"', 36: '$', 37: '%', 38: '&', 39: "'", 41: ')', 42: '*', 43: '+', 44: ',', 46: '.', 47: '/', 48: '0', 49: '1'}

In [24]:
shedule = {
    '1001': ['пн', 'вс'],
    '1231': ['пн', 'вт'],
    '1232': ['ср', 'чт', 'пт'],
    '1280': ['ср', 'пт', 'вс'],
    '1282': ['чт'],
    '1290': ['пт', 'вс'],
    '1303': ['вт', 'вс'],
}

unique_days = ['пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс']

In [25]:
no_duty_days = set(unique_days) - {day for days_list in shedule.values() for day in days_list}
print("Дни, когда никто не может дежурить:", no_duty_days)

Дни, когда никто не может дежурить: {'сб'}

In [27]:
employees_per_day = {day: sum(day in days_list for days_list in shedule.values()) for day in unique_days}
print("Количество сотрудников по дням недели:", employees_per_day)

Количество сотрудников по дням недели: {'пн': 2, 'вт': 2, 'ср': 2, 'чт': 2, 'пт': 3, 'сб': 0, 'вс': 4}

In [28]:
coords1 = [(1, 10), (1, 11)]
coords2 = [(0, 20), (20, 20)]
coords3 = [(100, 91, 87), (80, 35, 70)]
coords4 = [(0, 100, 20), (0, 0, 80)]

In [37]:
def distance_points(coords):
    if len(coords) != 2:
        raise ValueError("Функция принимает ровно 2 кортежа координат")

    point_a, point_b = coords
    dimensions = min(len(point_a), len(point_b))

    distance_squared = sum((point_b[i] - point_a[i]) ** 2 for i in range(dimensions))
    distance = distance_squared ** 0.5

    return distance


print(distance_points(coords2))

20.0

In [38]:
ids = ['1111:271', '1111:190', '1231:106', '1211:104', '1111:201', '1231:120', '1001:205', '1001:223', '1001:127', '1001:236', \
      '1111:229', '1231:286', '1231:195', '1001:279', '1001:124', '1111:292', '1505:219', '1231:259', '1231:253', '1001:220', '1001:202',\
      '1231:103', '1211:249', '1212:275']
count = [111, 3, 13, 111, 9, 5, 17, 10, 13, 3, 16, 4, 16, 11, 18, 12, 14, 4, 3, 2, 14, 14, 10, 10]

In [42]:
items_count = dict(zip(ids, count))
unique_categories_count = len(set(category.split(':')[0] for category in ids))
average_items_per_category = round(sum(count) / len(set(category.split(':')[0] for category in ids)), 1)
average_unique_items_per_category = round(len(ids) / len(set(category.split(':')[0] for category in ids)), 1)
max_items_ids = [id for id, quantity in items_count.items() if quantity == max(count)]

print("Уникальные категории:", unique_categories_count)
print("Среднее количество единиц товара на складе в категории:", average_items_per_category)
print("Среднее количество уникальных товаров в категории:", average_unique_items_per_category)
print("ID товаров с максимальным количеством единиц на складе:", max_items_ids)

Уникальные категории: 6
Среднее количество единиц товара на складе в категории: 73.8
Среднее количество уникальных товаров в категории: 4.0
ID товаров с максимальным количеством единиц на складе: ['1111:271', '1211:104']

In [43]:
document_text = 'There are the Food Courts in the cities that seats a lot of people and caters for every taste with dishes from all around the world. \
 The aromatic smells that come from the Food Courts arc so delicious that your mouth will water. \
 In recent years foreign foods have become a regular part of our life.'

In [55]:
word_frequency = {word: document_text.lower().replace('.', '').replace(',', '').split().count(word) 
                  for word in set(document_text.lower().replace('.', '').replace(',', '').split())}

for word, frequency in word_frequency.items():
    print(f"{word}: {frequency}")

so: 1
foods: 1
food: 2
will: 1
are: 1
become: 1
smells: 1
water: 1
lot: 1
world: 1
every: 1
dishes: 1
for: 1
have: 1
around: 1
regular: 1
of: 2
life: 1
people: 1
taste: 1
foreign: 1
in: 2
the: 5
part: 1
our: 1
delicious: 1
a: 2
recent: 1
from: 2
years: 1
cities: 1
with: 1
aromatic: 1
your: 1
come: 1
mouth: 1
seats: 1
there: 1
all: 1
courts: 2
and: 1
that: 3
arc: 1
caters: 1

In [59]:
sorted_words = sorted(word_frequency.keys(), key=lambda x: (-word_frequency[x], x))

for word in sorted_words:
    print(word)

Слова в порядке убывания частоты:
the
that
a
courts
food
from
in
of
all
and
arc
are
aromatic
around
become
caters
cities
come
delicious
dishes
every
foods
for
foreign
have
life
lot
mouth
our
part
people
recent
regular
seats
smells
so
taste
there
water
will
with
world
years
your

In [65]:
coords = [(3, 2), (11, 2), (7, 10)]

def distance_points(point1, point2):
    return ((point2[0] - point1[0]) ** 2 + (point2[1] - point1[1]) ** 2) ** 0.5

def triangle_area(coords):

    A1, A2, A3 = coords
    base_length = distance_points(A1, A2)
    height = distance_points(A3, ((A1[0] + A2[0]) / 2, (A1[1] + A2[1]) / 2))

    area = 0.5 * base_length * height
    return area

print(triangle_area(coords))

32.0

In [5]:
df = pd.read_csv('17.4 bank-full.csv', sep=';')

In [6]:
df

,Unnamed: 0,id,age,job,marital,education,balance,housing,loan,default,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,0,0,58,management,married,tertiary,2143,yes,no,no,unknown,5,may,261,1,-1,0,unknown,no
1,1,1,44,technician,single,secondary,29,yes,no,no,unknown,5,may,151,1,-1,0,unknown,no
2,2,2,33,entrepreneur,married,secondary,2,yes,yes,no,unknown,5,may,76,1,-1,0,unknown,no
3,3,3,47,blue-collar,married,unknown,1506,yes,no,no,unknown,5,may,92,1,-1,0,unknown,no
4,4,4,33,unknown,single,unknown,1,no,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,45206,45206,51,technician,married,tertiary,825,no,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,45207,45207,71,retired,divorced,primary,1729,no,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,45208,45208,72,retired,married,secondary,5715,no,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,45209,45209,57,blue-collar,married,secondary,668,no,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,45210,45210,37,entrepreneur,married,secondary,2971,no,no,no,cellular,17,nov,361,2,188,11,other,no

In [28]:
df['marital'].unique()

array(['married', 'single', 'divorced'], dtype=object)

In [26]:
df['deposit'] = df['deposit'].map({'yes': 1, 'no': 0})

In [29]:
df['loan'] = df['loan'].map({'yes': 1, 'no': 0})
df['housing'] = df['housing'].map({'yes': 1, 'no': 0})
df['marital'] = df['marital'].map({'married': 1, 'single': 0, 'divorced': -1})

In [30]:
df['deposit'].corr(df['loan'])

-0.06818503472421297

In [31]:
df['deposit'].corr(df['housing'])

-0.13917270249816996

In [32]:
df['deposit'].corr(df['marital'])

-0.043845648869057126

In [36]:
df['campaign'].unique()

array([ 1,  2,  3,  5,  4,  6,  7,  8,  9, 10, 11, 12, 13, 19, 14, 24, 16,
       32, 18, 22, 15, 17, 25, 21, 43, 51, 63, 41, 26, 28, 55, 50, 38, 23,
       20, 29, 31, 37, 30, 46, 27, 58, 33, 35, 34, 36, 39, 44],
      dtype=int64)